doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="./assets/favicon-32x32.png", type="image/x-icon")
    link(rel="stylesheet", href="./styles/style.css")
    title order-summary
  body  
    
    main 
      .bg 
      .center-modal 
        .modal 
          .modal-image 
            img(src="./assets/illustration-hero.svg", alt="somebody listen music")
          .modal-text 
            h2 Order Summary
            p  You can now listen to millions of songs, audiobooks, and podcasts on any device anywhere you like!
          .modal-bills
            .modal-bills__box
              .modal-bills__box__one
                img(src="./assets/icon-music.svg", alt="music")
                .modal-bills__box__grid 
                  b Annual Plan
                  span $59.99/year
              a(href="#") Change
          .modal-btns
            button.modal-btns-one  Proceed to Payment
            button.modal-btns-two Cancel Order  

